# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
build/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec

# Android related
android/.gradle/
android/app/build/
android/build/
*.iml
.idea/

# iOS related
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/
ios/Pods/
ios/Podfile.lock

# Sensitive files
*.key
*.pem
*.env
*.keystore


#vscode settings
.vscode/

#linux 
linux/

#macos
macos/

#node_modules
node_modules/

*.hprof
