<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- ESSENTIAL: Network permissions for AI services and Firebase -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- JUSTIFIED: Voice recording for voice assistant feature -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    
    <!-- REMOVED: Dangerous permissions that could cause Play Store rejection
         - CAPTURE_AUDIO_OUTPUT: Rarely approved, not needed
         - WRITE_EXTERNAL_STORAGE: Deprecated on API 29+
         - READ_EXTERNAL_STORAGE: Not needed with scoped storage
         - BLUETOOTH_ADMIN: Not justified for this app
         - ACCESS_WIFI_STATE: Not essential
         - MODIFY_AUDIO_SETTINGS: Not needed for basic TTS/STT
    -->
    
  
    <!-- Hardware feature requirements -->
    <uses-feature 
        android:name="android.hardware.microphone" 
        android:required="true" />
    <uses-feature 
        android:name="android.hardware.audio.low_latency" 
        android:required="false" />
    
    <application
        android:label="Dr.Swatantra AI"
        android:name="${applicationName}"
        android:icon="@mipmap/launcher_icon"
        android:enableOnBackInvokedCallback="true"
        android:usesCleartextTraffic="false"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="false">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Add these permissions for url_launcher -->
    <uses-permission android:name="android.permission.INTERNET" />
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.APP_BROWSER" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="youtube" />
        </intent>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
